body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="text"] {
  font-size: 25px;
}

a {
  color: blue;
}

.BioDiv {
  border-color: red;
  border-width: 8px;
  border-style: outset;
  background-color: lightblue;
  text-align: center;
}

li {
  margin: 10px 0;
}

.amount {
  width: 85px;
  text-align: center;
}

.minutes {
  width: 40px;
  text-align: center;
}
.seconds {
  width: 40px;
  text-align: center;
}

.p1 {
  font-size: 25px;
}

.p2 {
  font-size: 20px;
  font-weight: normal;
}

.p3 {
  font-size: 25px;
  font-weight: normal;
}

.h_custom {
  font-size: 35px;
}

.collapsible {
  border-color: red;
  border-width: 8px;
  border-style: outset outset none outset;
  background-color: lightblue;
  cursor: pointer;
  padding: 18px;
  width: 100%;

  text-align: center;

  font-size: 30px;
}

.content {
  border-color: red;
  border-width: 8px;
  border-style: outset outset none outset;
  font-size: 20px;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f5f5dc;
}

.debugCheckbox {
  width: 30px;
  height: 30px;
  position: relative;
  vertical-align: middle;
  margin-bottom: 7px; /* TODO: Adjust based on mobile dimensions? */
}

.p4 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 25px;
  font-weight: normal;
}

.saveButton {
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}

.scoreInput {
  width: 160px;
  font-size: 25px;
}
